<p id="notice"><%= notice %></p>

<h1>Prossefors</h1>

<table>
  <thead>
    <tr>
      <th>F name</th>
      <th>L name</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prossefors.each do |prossefor| %>
      <tr>
        <td><%= prossefor.f_name %></td>
        <td><%= prossefor.l_name %></td>
        <td><%= prossefor.department %></td>
        <td><%= link_to 'Show', prossefor %></td>
        <td><%= link_to 'Edit', edit_prossefor_path(prossefor) %></td>
        <td><%= link_to 'Destroy', prossefor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prossefor', new_prossefor_path %>
