<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <body>

  <header>
    <h1>Schedule Tracker</h1>
  </header>

  <div class="main">
    <%= yield %>
  </div>

  <div id="primary">
    <% if flash[:message] %>
      <p class="flash-message"><%= flash[:message] %></p>
    <% end %>
  </div>

  <%= render "layouts/sidebar" %>


</body>

<footer>
<p>
  Welcome to your schedule tracker app!

  <% if session[:net_id] %>
    <%= link_to 'Logout', logout_path %>
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>
</p>
</footer>
</html>
